<div id="templatemo_banner_wrapper">
    <div id="templatemo_banner">

        <div id="templatemo_banner_image">
            <div id="templatemo_banner_image_wrapper">
                <img src="~/Images/templatemo_image_01.jpg" alt="image 1" />
            </div>
        </div>

        <div id="templatemo_banner_content">
            <div class="header_01">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
            <p>Aliquam dignissim elementum est sit amet iaculis. Integer pretium ultricies risus, condimentum molestie odio euismod vitae. </p>
            <div class="button_01"><a href="#">Read more</a></div>
        </div>

        <div class="cleaner"></div>
    </div>
</div>






@*<div id="banner-slider" class="carousel slide" data-ride="carousel">
    <div class="region region-slider">
        <div class="views-element-container block block-views block-views-blockslider-block-1" id="block-views-block-slider-block-1">


            <div>
                 Indicators 
                <ol class="carousel-indicators wow fadeInUp" data-wow-delay="0.6s">
                    <li data-target="#banner-slider" data-slide-to="0" class="active">
                        <div class="thumbnail">
                            <img class="img-responsive" src="~/Images/4.jpg">
                            
                        </div>
                    </li>
                    <li data-target="#banner-slider" data-slide-to="1" class="">
                        <div class="thumbnail">
                            <img class="img-responsive" src="~/Images/5.jpg">
                            
                        </div>
                    </li>
                    <li data-target="#banner-slider" data-slide-to="2" class="">
                        <div class="thumbnail">
                            <img class="img-responsive" src="~/Images/7.jpg">
                            
                        </div>
                    </li>
                    <li data-target="#banner-slider" data-slide-to="3" class="">
                        <div class="thumbnail">
                            <img class="img-responsive" src="~/Images/8.jpg">
                            
                        </div>
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item slides active">
                        <div class="slide-1 wow fadeIn" style="background: url('~/Images/1.jpg');"></div>
                        
                        <div class="container">
                            <div class="carousel-caption">
                                <p class="wow fadeInUp" data-wow-delay="0.6s"></p>
                                <h1 class="wow fadeInUp" data-wow-delay="0.8s">Signing an agreement on City Portal</h1>
                                <a href="#" class="enquiry-btn custom-btn wow fadeInLeft" data-wow-delay="1.2s">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item slides ">
                        <div class="slide-1 wow fadeIn" style="background: url('~/Images/11.jpg');"></div>
                        
                        <div class="container">
                            <div class="carousel-caption">
                                <p class="wow fadeInUp" data-wow-delay="0.6s"></p>
                                <h1 class="wow fadeInUp" data-wow-delay="0.8s">አረንጓዴ አሻራ</h1>
                                <a href="#" class="enquiry-btn custom-btn wow fadeInLeft" data-wow-delay="1.2s">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item slides ">
                        <div class="slide-1 wow fadeIn" style="background: url('~/Images/photo2.png');"></div>
                        
                        <div class="container">
                            <div class="carousel-caption">
                                <p class="wow fadeInUp" data-wow-delay="0.6s"></p>
                                <h1 class="wow fadeInUp" data-wow-delay="0.8s">የምስጋና የምስክር ወረቀት</h1>
                                <a href="#" class="enquiry-btn custom-btn wow fadeInLeft" data-wow-delay="1.2s">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item slides ">
                        <div class="slide-1 wow fadeIn" style="background: url('~/Images/photo3.jpg');"></div>
                        <img src="" />
                        <div class="container">
                            <div class="carousel-caption">
                                <p class="wow fadeInUp" data-wow-delay="0.6s"></p>
                                <h1 class="wow fadeInUp" data-wow-delay="0.8s">Army</h1>
                                <a href="#" class="enquiry-btn custom-btn wow fadeInLeft" data-wow-delay="1.2s">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>*@ 
