

@*class="navbar navbar-fixed-bottom col-sm-12"*@








<div id="templatemo_footer_wrapper" >

    <div id="templatemo_footer" >

        <div class="section_w180">
            <div class="header_05">Services</div>
            <div class="section_w180_content">
                <ul class="footer_menu_list">
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Cum sociis</a></li>
                    <li><a href="#">Donec quam</a></li>
                    <li><a href="#">Nulla consequat</a></li>
                    <li><a href="#">In enim justo</a></li>
                </ul>
            </div>
        </div>

        <div class="section_w180">
            <div class="header_05">About</div>
            <div class="section_w180_content">
                <ul class="footer_menu_list">
                    <li><a href="#">Nullam quis</a></li>
                    <li><a href="#">Sed consequat</a></li>
                    <li><a href="#">Cras dapibus</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Cum sociis</a></li>
                </ul>
            </div>
        </div>

        <div class="section_w180">
            <div class="header_05">Cool links</div>
            <div class="section_w180_content">
                <ul class="footer_menu_list">
                    <li><a href="#">Aenean vulputate</a></li>
                    <li><a href="#">Etiam ultricies</a></li>
                    <li><a href="#">Nullam quis</a></li>
                    <li><a href="#">Sed consequat</a></li>
                    <li><a href="#">Cras dapibus</a></li>
                </ul>
            </div>
        </div>

        <div class="section_w180">
            <div class="header_05">Contact</div>

            <div class="section_w180_content">

                <ul class="footer_menu_list">
                    <li><a href="#">Donec quam</a></li>
                    <li><a href="#">Nulla consequat</a></li>
                    <li><a href="#">In enim justo</a></li>
                    <li><a href="#">Aenean vulputate</a></li>
                    <li><a href="#">Etiam ultricies</a></li>
                </ul>
            </div>
        </div>

        <div class="section_w180">
            <div class="header_05">Partners</div>
            <div class="section_w180_content">
                <ul class="footer_menu_list">
                    <li><a href="http://www.templatemo.com" target="_parent">CSS Templates</a></li>
                    <li><a href="http://www.flashmo.com" target="_parent">Flash Websites</a></li>
                    <li><a href="http://www.templatemo.com/page/2" target="_parent">Website Templates</a></li>
                    <li><a href="http://www.webdesignmo.com" target="_parent">Web Design Tips</a></li>
                    <li><a href="http://www.photovaco.com" target="_blank">Free Stock Photos</a></li>
                </ul>
            </div>
        </div>

        <div class="margin_bottom_20"></div>
        Copyright © 2048 <a href="#">Your Company Name</a> | <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
        <div class="cleaner"></div>
    </div> <!-- end of footer -->
    <!--  Free CSS Templates by TemplateMo.com  -->
</div>




