<div id="column_w300">

    <div class="header_03">Latest News</div>

    <div class="column_w300_section_01">
        <div class="news_image_wrapper">
            <img src="~/Images/templatemo_image_02.jpg" alt="image" />
        </div>

        <div class="news_content">
            <div class="news_date">OCT 29, 2048</div>
            <div class="header_04"><a href="#">Lorem ipsum dolor sit</a></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a justo dolor.</p>
        </div>

        <div class="cleaner"></div>
    </div>

    <div class="column_w300_section_01 even_color">
        <div class="news_image_wrapper">
            <img src="~/Images/templatemo_image_03.jpg" alt="image" />
        </div>

        <div class="news_content">
            <div class="news_date">OCT 28, 2048</div>
            <div class="header_04"><a href="#">Nam dictum pellentesque</a></div>
            <p>Nam ultricies cursus enim, non aliquet orci lacinia ac. Etiam lobortis adipiscing.</p>
        </div>

        <div class="cleaner"></div>
    </div>

    <div class="column_w300_section_01">
        <div class="news_image_wrapper">
            <img src="~/Images/templatemo_image_04.jpg" alt="image" />
        </div>

        <div class="news_content">
            <div class="news_date">OCT 27, 2048</div>
            <div class="header_04"><a href="#">Donec faucibus tortor</a></div>
            <p>Aliquam porttitor nibh in erat porttitor in accumsan dui pulvinar.</p>
        </div>

        <div class="cleaner"></div>
    </div>

    <div class="cleaner"></div>
</div>
