@model Job_Broker_WebApp.Models.Register

@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<enter><h2>Help</h2></enter>
<div class="row">
    <div class="col-lg-6">
        <strong>To register</strong><br />
        <p>Click on <b>Register</b> button at top bar of the main page</p><br />
        <p>Then fill all the blank forms, concerning your own information</p><br />
        <p>Then click <b>Submit</b> button at the end of the forms</p>
    </div>
    <div class="col-lg-6">
        <strong>To Log in</strong>, once you are registered<br />
        <p>Hover on <b>Log in</b> button at top right bar of the main page</p><br />
        <p>You will see two options drop down, then click on <b>Local user</b></p>
        <p>Then insert your user name, password. it must be your own information that submited during registration</p><br />
        <p>To select role, click on either <b>Employer</b> or <b>Job Seeker</b> circle. it must be your own role that submited during registration</p><br />
        <p>Then click <b>Log in</b> button at the end of the forms</p>
    </div>
</div>



